{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - List {% endblock %}

{% block main %}

    <h1>Our Bucket-List</h1>
   {#  <form action="">
        <select name="title" id="title">
            <option value="">Title</option>
            {% set currentTitle = null %}
            {% for idea in ideas%}
                {% if currentTitle != idea.title %}
                    <option value="{{ idea.title }}">{{ idea.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="title" id="title">
            <option value="">Author</option>
            {% set currentAuthor = null %}

            {% for idea in ideas %}
                {% if currentAuthor != idea.author %}
                    <option value="{{ idea.author }}">{{ idea.author }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="dateCreated" id="dateCreated">
            <option value="">Date</option>
            {% set currentDate = null %}
            {% for idea in ideas %}
                {% if currentDate != idea.dateCreated %}
                    <option value="{{ idea.dateCreated | date('d/m/Y, H:i:s')}}">{{ idea.dateCreated | date('d/m/Y, H:i:s')}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Filter</button>

    </form> #}
    {% for idea in ideas %}
            <ul class=" idea">
                <li> <a href="{{ path('idea_detail', {'id': idea.id}) }}"> {{ idea.description  }} </a> | {{ idea.category.name }} </li>
            </ul>
    {% endfor %}

{% endblock %}

